@import "tailwindcss";

body {
   font-family: 'Inter', sans-serif;
   min-height: 100dvh;
   background-color: #ffffff;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: #1a1a1a;
}

::selection {
   background-color: #fca5a5; /* light red/pink */
   color: #7f1d1d; /* dark red */
}

/* Minimalist scrollbar since we are using Lenis anyway */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d4d4d4;
}